
@import "compass/utilities/general/clearfix";
@import "mixins";

@mixin grid-row {
  @include clearfix;
  > * {
    float: left;
    margin-left: em($dimension-space);
    &:nth-child(1) {
      margin-left: 0;
    }
  }
}