
@import "compass/css3/text-shadow";

@mixin block {
  > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin grayscale {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

@mixin link-shadow($shadow-color: $color-link, $color: $color-link) {
  //@include text-shadow(1px 1px darken($shadow-color, 15%));
  color: rgba($color, 0.7);
  &:hover {
    //@include text-shadow(0 0 0 darken($shadow-color, 15%));
    color: $color;
  }
}

@mixin title-shadow($shadow-color: $color-link, $color: $color-link) {
  //@include text-shadow(1px 1px darken($shadow-color, 15%));
}