@import "compass/css3/border-radius";

.alert {
  background-color: $color-alert-background;
  border-color: $color-alert-border;
  color: $color-text;
  a {
    font-weight: bold;
  }
}

.nav {
  padding-left: 0;
}

.nav-pills.unstyled > li > a {
  @include border-radius(0);
  padding: 0;
}