@import "compass/utilities/general/clearfix";

.layout-footer {
  @include clearfix;
  > .social {
    float: left;
  }
}

.layout-header {
  margin-bottom: em($dimension-space);
  > * {
    margin-bottom: 0;
    &.layout-aside {
      .block {
        padding: em($dimension-space);
      }
      h2 {
        margin-top: 0;
      }
    }
  }
}

.main-categories {
  @include grid-row;
  > * {
    width: em($dimension-category-width);
    &:nth-child(4) {
      margin-left: 0;
    }
    &:nth-child(4),
    &:nth-child(5) {
      width: $dimension-category2-width;
    }
  }
}

.main-container {
  min-height: em(500px);
}

.main-navigation {
  margin-bottom: em($dimension-space);
}

.wrapper {
  margin: 0 auto;
  width: em($dimension-wrapper-width);
}