
@import "variables";

a {
  color: $color-link;
  text-decoration: none;
}

body {
  background-image: $image-background;
  background-position: 45% top;
  background-repeat: no-repeat;
  color: $color-text;
  font-family: $font-default;
  // font-weight: $fontweight-default;
}

h1 {
  font-size: $fontsize-h1;
}
h2 {
  font-size: $fontsize-h2;
}
h3 {
  font-size: $fontsize-h3;
}
h4 {
  font-size: $fontsize-h4;
}
h5 {
  font-size: $fontsize-h5;
}
h6 {
  font-size: $fontsize-h6;
}

table {
  font-weight: $fontweight-default / 2;
}

ul.unstyled {
  margin: 0;
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

.alert ol {
  margin: 0;
}

.axis line {
  stroke: #000;
}

.axis path {
  fill: none;
  stroke: #000;
}

.axis + .axis g text {
  display: none;
}

.brand {
  background-image: $image-brand;
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  height: $dimension-brand-height;
  margin-bottom: em($dimension-space);
}

.category-assignments {
  > li {
    margin: em($dimension-space) 0;
    > a {
      line-height: em($dimension-space * 2);
    }
    &.assignment {
      position: relative;
      img {
        height: 60%;
        position: absolute;
        right: rem($dimension-space) / 2;
        top: 20%;
        &.incomplete {
          @include grayscale;
        }
      }
    }
  }
  &.final > li a {
    @include link-shadow($color-final);
    background-color: $color-final;
  }
  &.mixed > li a {
    @include link-shadow($color-mixed);
    background-color: $color-mixed;
  }
}

.layout-aside {
  margin-bottom: em($dimension-space);
  > * {
    margin-bottom: em($dimension-space);
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .block,
  .block a {
    color: $color-link-variant;
  }
  .block {
    @include block;
    background-color: $color-frontpage-aside;
    h2 {
      @include title-shadow($color-frontpage-aside);
      color: rgba($color-link-variant, 0.8);
    }
  }
  .layout-list {
    > *:not(ul),
    > ul:not(.nav) > li,
    > ul.nav:not(.unstyled) > li > a {
      background-color: $color-frontpage-aside;
      color: $color-link-variant;
    }
    > ul.nav:not(.unstyled) > li > a:hover {
      background-color: lighten($color-frontpage-aside, 5%);;
    }
  }
}

.layout-body {
  $fontsize: $fontsize-h2;
  > a {
    color: rgba($color-link, 0.8);
    display: block;
    font-size: $fontsize;
    line-height: 1em;
    margin-bottom: em($dimension-space) / $fontsize * 1em;
    padding: (em($dimension-space) / $fontsize * 1em) / 2;
    vertical-align: baseline;
    &.final {
      @include link-shadow($color-final, $color-link-variant);
      background-color: $color-final;
      padding-top: em($dimension-final-height - $dimension-space * 2) / $fontsize * 1em;
      &:hover {
        background-color: lighten($color-final, 5%);
      }
    }
    &.mixed {
      @include link-shadow($color-mixed, $color-link-variant);
      background-color: $color-mixed;
      padding-top: em($dimension-mixed-height - $dimension-space * 2) / $fontsize * 1em;
      &:hover {
        background-color: lighten($color-mixed, 2.5%);
      }
    }
  }
}

.layout-container {
  @include block;
  background-color: $color-content;
  padding: em($dimension-space);
  h2 {
    @include title-shadow($color-content);
  }
}

.layout-content,
.layout-head {
  @include block;
  background-color: $color-category;
  margin-bottom: 1em;
  padding: em($dimension-space);
  a {
    font-weight: bold;
  }
  h1,
  h2 {
    @include title-shadow($color-category, invert($color-text));
  }
  .hash {
    font-size: 0.7em;
  }
  &.final {
    background-color: $color-final;
    color: $color-link-variant;
    h1,
    h2 {
      @include title-shadow($color-final);
    }
  }
  &.mixed {
    background-color: $color-mixed;
    color: $color-link-variant;
    h1,
    h2 {
      @include title-shadow($color-mixed);
    }
  }
  > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.layout-content {
  margin-top: 1em;
}

.layout-footer {
  @include block;
  background-color: $color-content;
  color: $color-text;
  margin: em($dimension-space) 0;
  padding: em($dimension-space);
}

.layout-list {
  @include block;
  > *:not(ul),
  > ul:not(.nav) > li,
  > ul.nav:not(.nav-pills) > li > a {
    margin-bottom: rem($dimension-space);
  }
  > *:not(ul),
  > ul:not(.nav) > li,
  > ul.nav:not(.unstyled) > li > a,
  > ul.nav:not(.unstyled) > li > span {
    background-color: $color-category;
    color: $color-text;
    padding: rem($dimension-space) / 2 rem($dimension-space);
  }
  > ul.nav:not(.unstyled) > li {
    > a {
      &:hover {
        background-color: lighten($color-category, 5%);
      }
    }
    &:last-child a {
      margin-bottom: 0;
    }
  }
  > ul.nav:not(.unstyled) > li > span {
    display: block;
    margin-bottom: rem($dimension-space);
  }
  &.final > ul.nav:not(.unstyled) > li > a,
  &.final > p {
    background-color: $color-final;
    color: $color-link-variant;
  }
  &.final > ul.nav:not(.unstyled) > li > a:hover {
    background-color: lighten($color-final, 5%);
  }
  &.mixed > ul.nav:not(.unstyled) > li > a,
  &.mixed > p {
    background-color: $color-mixed;
    color: $color-link-variant;
  }
  &.mixed > ul.nav:not(.unstyled) > li > a:hover {
    background-color: lighten($color-mixed, 2.5%);
  }
}

.main-categories {
  margin: 0;
  > li {
    margin-bottom: em($dimension-space);
    > a {
      @include link-shadow($color-category, $color-link);
      background-color: $color-category;
      line-height: em($dimension-category-height);
      text-align: center;
      &:hover {
        background-color: lighten($color-category, 5%);
      }
    }
  }
}

.nav.options {
  margin: 0;
}