@import "compass/css3/box-sizing";

form textarea {
  @include box-sizing(border-box);
  width: 100%;
}

.layout-body {
  @include block;
}

.layout-header {
  @include grid-row;
  > * {
    &.layout-aside {
      width: em($dimension-aside-width);
    }
    &.layout-body {
      width: em($dimension-head-width);
    }
  }
}

.main-categories {
  @include grid-row;
  > * {
    width: em($dimension-category-width);
    &:nth-child(4),
    &:nth-child(5) {
      width: $dimension-category2-width;
    }
  }
}

.wrapper {
  margin: 0 auto;
  width: em($dimension-wrapper-width);
}