
@import "variables";

$dimension-aside-width:     480px;
$dimension-head-width:      480px;
$dimension-wrapper-width:   480px;

$dimension-aside-height:    390px;
$dimension-category-width:  ($dimension-head-width - $dimension-space * 2) / 3;
$dimension-category2-width: ($dimension-head-width - $dimension-space) / 2;