
@import "variables.medium";

$dimension-aside-width:     270px;
$dimension-head-width:      670px;
$dimension-wrapper-width:   960px;

$dimension-aside-height:    390px;
$dimension-category-width:  ($dimension-head-width - $dimension-space * 2) / 3;
$dimension-category2-width: ($dimension-head-width - $dimension-space) / 2;