
// colors
$color-alert-background:      rgba(255,251,198,0.5);
$color-alert-border:          #f7ed64;
$color-background:            #fff;
$color-content:               #e6e7e8;
$color-final:                 #f7ac4b;
$color-frontpage-aside:       #f440b4;
$color-category:              #ccc;
$color-link:                  #000;
$color-link-variant:          #fff;
$color-mixed:                 #b1c11b;
$color-text:                  #000;

// dimensions
$dimension-brand-height:      200px;
$dimension-category-height:   50px;
$dimension-final-height:      82px;
$dimension-mixed-height:      152px;
$dimension-space:             20px;

// fonts
$font-default:                sans-serif;

// fontsizes
$fontsize-default:            16px;
$fontsize-h1:                 2em;
$fontsize-h2:                 1.75em;
$fontsize-h3:                 1.5em;
$fontsize-h4:                 1.25em;
$fontsize-h5:                 1.15em;
$fontsize-h6:                 1em;

//fontweight
$fontweight-default:          800;

// images
$image-background:            url('/images/background.jpg');
$image-brand:                 url('/images/singularity.png');