.layout-footer
	.social
		iframe(src="http://www.facebook.com/plugins/like.php?href=http://hacking.gathering.org/", scrolling="no", frameborder="0", style="border:none; width:450px; height:80px")
	.social
		iframe(src="https://platform.twitter.com/widgets/tweet_button.html", allowtransparency="true", frameborder="0", scrolling="no", style="width:130px; height:20px;")
	.social Join us on IRC #tg-hack@efnet