
header#header
	a.brand(href='/')
	if (req.isAdmin())
		include ../includes/main-navigation
- error = req.flash('error')
if (error && error.length > 0)
	.alert.alert-error=error
- success = req.flash('success')
if (success && success.length > 0)
	.alert.alert-success=success