head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	meta(name='viewport', content='width=device-width,initial-scale=1')

	if (typeof facebook !== 'undefined')
		meta(property="og:title", content=facebook.title)
		meta(property="og:type", content=facebook.type)
		meta(property="og:url", content=facebook.url)
		meta(property="og:image", content=facebook.image)
		meta(property="og:site_name", content=facebook.site_name)
		meta(property="og:admins", content=facebook.admins)
		meta(property="og:app_id", content=facebook.app_id)
		meta(property="og:description", content=facebook.description)

	title= appName+' - '+title
	meta(http-equiv='Content-type', content='text/html;charset=UTF-8')

	link(href='/images/favicon.ico', rel='shortcut icon', type='image/x-icon')
	link(href='/stylesheets/style.css', rel='stylesheet')
	link(href='/stylesheets/style.medium.css', rel='stylesheet', media="(min-width: 30em)")
	link(href='/stylesheets/style.large.css', rel='stylesheet', media="(min-width: 58.75em)")

	script(src='/lib/jquery/jquery-1.9.1.min.js')
	script(src='/lib/jquery/plugins/jquery.autosize-min.js')
	script(src='/javascripts/common.js')
	script(src='/lib/d3/d3.v3.min.js')
	script(src='/javascripts/spider.js')

