nav(role='navigation')
	ul.main-navigation.nav.nav-tabs
		li
			a(href="/", title="homepage") Home
		li
			a(href="/users", title="users listing") Users
		li
			a(href="/categories", title="categories listing") Categories
		li
			a(href='/assignments', title="assignment listing") Assignments
		li
			a(href='/achievements', title="achievement listing") Achievements
		li
			if (req.isAuthenticated())
				a(href="/logout", title="log out of system") Log out
			else
				a(href="/login", title="log in to system") Log in