extends ../layouts/wide

block main
	h1 Delete #{user.username}

block content
	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			ul
				each error in errors
					li= error.type

	form.form-horizontal(method="post", action='/profile')
		p Are you certain?
		.alert You cannot undo this action!
		input(type="hidden", name="_method", value="DELETE")
		.form-actions
			button.btn.btn-danger(type='submit') Confirm
			&nbsp;
			a.btn(href='/profile', title="cancel") Cancel