extends ../layouts/wide

block main
	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			ul
				each error in errors
					li= error.type

	form.form-horizontal(method="post", action="/profile")
		legend Edit profile
		input(type="hidden", name="_method", value="PUT")

		.control-group
			label.control-label(for='name') Name
			.controls
				span.uneditable-input=user.name

		.control-group
			label.control-label(for='username') Username
			.controls
				span.uneditable-input=user.username

		.control-group
			label.control-label(for='private') Private account
			.controls
				input#private(type='checkbox', name="private", value='true', checked=user.private)

		.form-actions
			button.btn.btn-primary(type='submit') Save changes
			&nbsp;
			a.btn(href='/categories', title="cancel") Cancel