extends ../layouts/default

block main
	.layout-content
		h1=user.username
		ul
			li Points: #{user.points}
			li Hacker level: #{user.level}
			each userCategory in user.categories
				li #{userCategory.category.title} level: #{userCategory.level}
	.layout-content
		h2 Achievements
	.layout-list
		include ../shared/list-achievement
	.layout-content
		h2 Assignments
	.layout-list
		include ../shared/list-assignment

block aside
	.layout-aside
		ul.nav.nav-stacked.nav-tabs
			if (!user.private)
				li
					a(href='/users/'+user.username) See public profile
			li
				a(href='/profile/edit') Edit profile
			li
				a(href='/profile/delete') Delete profile