extends ../layouts/wide

block content
	- var action = '/assignments'
	if (!assignment.isNew)
		- action += '/'+assignment.id

	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			ul
				each error in errors
					li= error.type

	form.form-horizontal(method="post", action=action)
		if (!assignment.isNew)
			input(type="hidden", name="_method", value="PUT")

		.control-group
			label.control-label(for='title') Title
			.controls
				input#title(type='text', name="title", value=assignment.title, placeholder='Enter the title', required)

		.control-group
			label.control-label(for='level') Level
			.controls
				.row-fluid
					.span4
						input#level(type='number', name='level', value=assignment.level, placeholder='Enter the level', required)
					.span8.alert
						ol
							li Category-assignments
							li Mixed
							li Final

		.control-group
			label.control-label(for='body') Body
			.controls
				textarea#body(name="body", placeholder='Enter the assignment description')=assignment.body

		.control-group
			label.control-label(for='notes') Notes
			.controls
				textarea#notes(name='notes', placeholder='Enter notes, if any')=assignment.notes

		.control-group
			label.control-label(for='token') Token
			.controls
				input#token(type='text', name="token", value=assignment.token, placeholder='Enter the token', required)

		.control-group
			label.control-label(for='order') Order
			.controls
				input#points(type='number', name="order", value=assignment.order, placeholder='Enter order value', required)

		.control-group
			label.control-label(for='points') Points
			.controls
				input#points(type='number', name="points", value=assignment.points, placeholder='Enter points value', required)

		.control-group
			.control-label Categories
			.controls
				if (categories.length === 0)
					p No categories available
				each category in categories
					label.checkbox
						input(type='checkbox', name="categories", value=category.id, checked=category.checked)
						=category.title

		.control-group
			.control-label Requirements
			.controls
				if (requirements.length === 0)
					p No assignements available
				each assignment in requirements
					label.checkbox
						input(type='checkbox', name="requirements", value=assignment.id, checked=assignment.checked)
						=assignment.title


		.form-actions
			button.btn.btn-primary(type='submit') Save changes
			&nbsp;
			a.btn(href='/assignments', title="cancel") Cancel