extends ../layouts/wide

block main
	h1 Assignments
	a.btn(href='/assignments/new', title='New assignment') New assignment

block content
	if (assignments.length === 0)
		p No assignments are available
	else
		table.table.table-striped
			thead
				tr
					th Name
					th Level
					th Points
					th Order
					th Options
			tbody
				each assignment in assignments
					tr.assignment
						td
							a.title(href='/assignments/'+assignment._id, title=assignment.title) #{assignment.title}
						td=assignment.level
						td=assignment.points
						td=assignment.order
						td
							a.btn(href='/assignments/'+assignment._id+'/edit', title='Edit assignment') Edit
							&nbsp;
							a.btn(href='/assignments/'+assignment._id+'/delete', title='Delete assignment') Delete