extends ../layouts/default

block main
	.layout-head.assignment(class=categoryClass)
		h1 #{assignment.title} (#{assignment.points} points)
	if (req.isAuthenticated() && meetRequirements)
		.layout-content.assignment(class=categoryClass)
			!{assignment.body}
	else
		.layout-content(class=categoryClass)
			h1 This assignment is locked
			if (user.hasAccess())
				p You do not meet the requirements for this assignment
			else
				p You're not allowed to solve this assignment

block aside
	.assignment.layout-aside
		.block
			h2 Token
			if (req.isAuthenticated() && !user.hasAccess())
				p You don't have access to solve this assignment
			else if (req.isAuthenticated() && isSolved)
				p You have already solved this assignment
			else if (req.isAuthenticated() && meetRequirements)
				p Enter token here
				form(method="post", action="/assignments/"+assignment.id)
					.input-append
						input#token.span2(name="token", type="text", placeholder="Enter token", required)
						input.btn.btn-primary(type='submit', value="Submit")
			else if (req.isAuthenticated())
				p You haven't solved the required assignments to be able to answer this assignment
			else
				p You must be logged in to submit token
				a.btn.btn-primary(href="/login") Log in here
		ul.nav.nav-stacked.nav-tabs
			if (req.isAuthenticated() && isSolved)
				li
					a(href='/users/'+user.username+'/assignments/'+assignment._id) See assignment at your profile
			li
				a(href='/assignments/'+assignment._id+'/stats') See stats
		if (assignment.requirements.length > 0)
			.block
				h3 Required assignments
			ul.nav.nav-stacked.nav-tabs
				each a in assignment.requirements
					li
						a(href="/assignments/"+a._id)=a.title