extends ../layouts/default

block main
	.layout-head.assignment(class=categoryClass)
		h1=assignment.title
		if (meetRequirements)
			!{assignment.body}
		else
			p You do not meet the requirements to see this assignment
	.layout-content(class=categoryClass)
		h2 Public users listed
	nav.layout-list(class=categoryClass)
		include ../shared/list-user

block aside
	.layout-aside
		if (req.isAuthenticated() && isSolved)
			.alert.alert-success You've solved #{assignment.title}!
		else if (req.isAuthenticated() && meetRequirements)
			.alert You meet the requirements for this assignment! Why don't you <a href="/assignments/#{assignment._id}">try it out</a>?
		if (newAchievement)
			h2 You've gained new achievement!
			ul.nav.nav-stacked.nav-tabs
				each achievement in achievements
					li.alert.alert-success
						a(href='/users/'+user.username+'/achievements/'+achievement._id)=achievement.title
		ul.nav.nav-stacked.nav-tabs
			if (req.isAuthenticated() && isSolved)
				li
					a(href='/users/'+user.username+'/assignments/'+assignment._id) See assignment at your profile
			li
				a(href='/assignments/'+assignment._id) See assignment