extends ../layouts/wide

block content
	- var action = '/achievements/'+achievement.id+'/requirements/'+requirement.id+'/assignments';

	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			ul
				each error in errors
					li= error.type

	form.form-horizontal(method="post", action=action)
		.control-group
			label.control-label(for='assignment') Assignment
			.controls
				select#assignment(name="_id")
					each assignment in assignments
						option(value=assignment.id)=assignment.title

		.form-actions
			button.btn.btn-primary(type='submit') Add category
			&nbsp;
			a.btn(href='/achievements/'+achievement.id, title="cancel") Cancel