extends ../layouts/wide

block content
	- var action = '/achievements/'+achievement.id+'/requirements'
	if (!requirement.isNew)
		- action += '/'+requirement._id

	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			ul
				each error in errors
					li= error.type

	form.form-horizontal(method="post", action=action)
		if (!requirement.isNew)
			input(type="hidden", name="_method", value="PUT")

		.control-group
			label.control-label(for='points') Points
			.controls
				input#points(type='number', name="points", value=requirement.points, placeholder='Points required')

		.form-actions
			button.btn.btn-primary(type='submit') Save changes
			&nbsp;
			a.btn(href='/achievements/'+achievement.id, title="cancel") Cancel