/* line 3, ../../sass/patterns.large.scss */
form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

/* line 6, ../../sass/mixins.scss */
.layout-body > *:first-child {
  margin-top: 0;
}
/* line 9, ../../sass/mixins.scss */
.layout-body > *:last-child {
  margin-bottom: 0;
}

/* line 12, ../../sass/patterns.large.scss */
.layout-header {
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../../sass/mixins.medium.scss */
.layout-header > * {
  float: left;
  margin-left: 1.25em;
}
/* line 10, ../../sass/mixins.medium.scss */
.layout-header > *:nth-child(1) {
  margin-left: 0;
}
/* line 15, ../../sass/patterns.large.scss */
.layout-header > *.layout-aside {
  width: 16.875em;
}
/* line 18, ../../sass/patterns.large.scss */
.layout-header > *.layout-body {
  width: 41.875em;
}

/* line 24, ../../sass/patterns.large.scss */
.main-categories {
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../../sass/mixins.medium.scss */
.main-categories > * {
  float: left;
  margin-left: 1.25em;
}
/* line 10, ../../sass/mixins.medium.scss */
.main-categories > *:nth-child(1) {
  margin-left: 0;
}
/* line 26, ../../sass/patterns.large.scss */
.main-categories > * {
  width: 13.125em;
}
/* line 29, ../../sass/patterns.large.scss */
.main-categories > *:nth-child(4), .main-categories > *:nth-child(5) {
  width: 325px;
}

/* line 35, ../../sass/patterns.large.scss */
.wrapper {
  margin: 0 auto;
  width: 60em;
}
