/* line 3, ../../sass/patterns.medium.scss */
.layout-footer {
  overflow: hidden;
  *zoom: 1;
}
/* line 5, ../../sass/patterns.medium.scss */
.layout-footer > .social {
  float: left;
}

/* line 10, ../../sass/patterns.medium.scss */
.layout-header {
  margin-bottom: 1.25em;
}
/* line 12, ../../sass/patterns.medium.scss */
.layout-header > * {
  margin-bottom: 0;
}
/* line 15, ../../sass/patterns.medium.scss */
.layout-header > *.layout-aside .block {
  padding: 1.25em;
}
/* line 18, ../../sass/patterns.medium.scss */
.layout-header > *.layout-aside h2 {
  margin-top: 0;
}

/* line 25, ../../sass/patterns.medium.scss */
.main-categories {
  overflow: hidden;
  *zoom: 1;
}
/* line 7, ../../sass/mixins.medium.scss */
.main-categories > * {
  float: left;
  margin-left: 1.25em;
}
/* line 10, ../../sass/mixins.medium.scss */
.main-categories > *:nth-child(1) {
  margin-left: 0;
}
/* line 27, ../../sass/patterns.medium.scss */
.main-categories > * {
  width: 9.16667em;
}
/* line 29, ../../sass/patterns.medium.scss */
.main-categories > *:nth-child(4) {
  margin-left: 0;
}
/* line 33, ../../sass/patterns.medium.scss */
.main-categories > *:nth-child(4), .main-categories > *:nth-child(5) {
  width: 230px;
}

/* line 39, ../../sass/patterns.medium.scss */
.main-container {
  min-height: 31.25em;
}

/* line 43, ../../sass/patterns.medium.scss */
.main-navigation {
  margin-bottom: 1.25em;
}

/* line 47, ../../sass/patterns.medium.scss */
.wrapper {
  margin: 0 auto;
  width: 30em;
}
