extends ../layouts/default

block main
	.layout-content
		h1=achievement.title
		if (achievement.isVisible(req))
			!{achievement.body}
		else
			This achievement is not visible until you achieve it

block aside
	.layout-aside
		if (achievement.isVisible(req))
			img(src='/images/achievements/'+achievement.image)
		else
			img(src='/images/achievements/happy_easter.png')
		if (isUser && hasAchievement)
			.alert.alert-success You have this achievement!
		else if (!user.private && hasAchievement)
			.alert.alert-success #{user.username} has this achievement!
		else if (user.private)
			.alert #{user.username} has a private account
		else
			.alert #{user.username} has not yet this achievement...
		ul.nav.nav-stacked.nav-tabs
			if (!user.private)
				li
					a(href='/users/'+user.username) See profile
			li
				a(href='/achievements/'+achievement._id+'/stats') See stats for achievement
