extends ../layouts/default

block main
	.layout-content(class=categoryClass)
		h1=assignment.title
	if (req.isAuthenticated() && meetRequirements)
		.layout-content.assignment(class=categoryClass)
			!{assignment.body}
	else
		.layout-content(class=categoryClass) This assignment is locked

block aside
	.layout-aside
		if (isUser && hasAssignment)
			.alert.alert-success You have completed this assignment!
		else if (!user.private && hasAssignment)
			.alert.alert-success #{user.username} has completed this assignment!
		else if (user.private)
			.alert #{user.username} has a private profile
		else
			.alert #{user.username} has not yet completed this assignment...
		ul.nav.nav-stacked.nav-tabs
			if (!user.private)
				li
					a(href='/users/'+user.username) See profile
			li
				a(href='/assignments/'+assignment._id+'/stats') See stats for assignment