extends ../layouts/wide

block content
	- var action = '/users'
	if (!user.isNew)
		- action += '/'+user.username

	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			ul
				each error in errors
					li= error.type

	form.form-horizontal(method="post", action=action)
		if (!user.isNew)
			input(type="hidden", name="_method", value="PUT")

		legend Basic user info
			.control-group
				label.control-label(for='name') Name
				.controls
					input#name(type='text', name="name", value=user.name, placeholder='Enter name', required)

			.control-group
				label.control-label(for='username') Username
				.controls
					input#username(type='text', name="username", value=user.username, placeholder='Enter username', required)

			.control-group
				label.control-label(for='rewardsAsus') Received reward (ASUS)
				.controls
					input#rewardsAsus(type='checkbox', name='rewardsAsus', value='true', checked=user.rewardsAsus)

			.control-group
				label.control-label(for='rewardsAsus') Has ticket
				.controls
					input#rewardsAsus(type='checkbox', name='hasTicket', value='true', checked=user.hasTicket)

			.control-group
				label.control-label(for='isAdmin') Is admin
				.controls
					input#admin(type='checkbox', name="isAdmin", value='true', checked=user.isAdmin)

			.control-group
				label.control-label(for='isWannabe') Crew member
				.controls
					input#hasTicket(type='checkbox', name="isWannabe", value='true', checked=user.isWannabe)

		legend Achievements
			.control-group
				each achievement in user.achievements
					label.control-label(for='achievements') Achievements
					.controls
						input(type="checkbox", name="achievements", value=achievement._id, checked=true)
						=achievement.title

		.form-actions
			button.btn.btn-primary(type='submit') Save changes
			&nbsp;
			a.btn(href='/categories', title="cancel") Cancel