extends ../layouts/wide

block main
	h1 Users

block content
	if (users.length === 0)
		p No users are registered
	table.table.table-striped
		thead
			tr
				th Username
				th Name
				th Points
				th Reward
				th Ticket
				th Wannabe
				th Admin
				th Options
		tbody
			each user in users
				tr.user
					td
						a(href="/users/"+user.username)=user.username
					td=user.name
					td=user.points
					td
						i(class=user.rewardsAsus ? "icon-ok" : "icon-remove")
					td
						i(class=user.hasTicket ? "icon-ok" : "icon-remove")
					td
						i(class=user.isWannabe ? "icon-ok" : "icon-remove")
					td
						i(class=user.isAdmin ? "icon-ok" : "icon-remove")
					td
						a.btn(href="/users/"+user.username+"/recalculate") Recalculate
						&nbsp;
						a.btn(href="/users/"+user.username+"/edit") Edit
						&nbsp;
						a.btn(href='/users/'+user.username+'/delete', title='Delete user') Delete