extends ../layouts/wide

block main
	.layout-content
		h1 Log in
		p We use an external SingleSignOn-system to enable you to log in. It is run by <a href="https://www.geekevents.org/">Geekevents</a>, and allows you to log in with your geekevent-account (you should have this if you have a ticket).
		p
			a.btn.btn-primary(href='/geekevents') Log in with Geekevents
	.alert.alert-block By clicking on the geekevents-link you'll be sent to the login site of geekevents. After login you'll be redirected back to this site.
