extends ../layouts/wide

block content
	form.form-horizontal(method="post", action='/users/'+user.username+'/recalculate')
		.form-actions
			button.btn.btn-primary(type='submit') Recalculate
			&nbsp;
			a.btn(href='/users', title="cancel") Cancel