extends ../layouts/default

block main
	.layout-content
		h1= user.username
		ul
			li Points: #{user.points}
			li Hacker level: #{user.level}
			each userCategory in user.categories
				li #{userCategory.category.title} level: #{userCategory.level}
	.layout-content
		h2 Achievements
	.layout-list
		include ../shared/list-achievement
	.layout-content
		h2 Assignments
	.layout-list
		include ../shared/list-assignment

block aside
	.layout-aside
		.block
			h2 Stats for #{user.username}
			#UserSpider
			script $(function () { spider("#UserSpider", "/json/spider/#{user.username}"); });
		if (req.isAuthenticated() && req.profile._id === user._id)
			ul.nav.nav-stacked.nav-tabs
				li
					a(href='/profile') See profile