
if (user.assignments.length > 0)
	ul.nav.nav-stacked
		each assignment in user.assignments
			li
				a(href='/users/'+user.username+'/assignments/'+assignment._id)=assignment.title
else
	p No assignments yet