if (user.achievements.length > 0)
	ul.nav.nav-pills.unstyled
		each achievement in user.achievements
			li
				if (achievement.isVisible(req))
					a(href='/users/'+user.username+'/achievements/'+achievement._id)
						img(src='/images/achievements/'+achievement.image, title=achievement.title)
				else
					img(src='/images/achievements/happy_easter.png', title="Achievement is not visible")
			
else
	p No achievements yet