extends ../layouts/default

block main
	.alert The competition is finished! Thank you for your interest, it was fun! The system is still open, but do note that the winners have been chosen.
	.alert <a href="/list/users">Click here to see a static list of the results</a>
	nav(role="navigation")
		ul.main-categories.nav
			each category in categories
				li
					a(href="/categories/"+category.id)=category.shortTitle
	a.mixed(href="/categories/mixed") Mixed
	a.final(href="/categories/final") Final

block content
	.layout-content
		h2 High score
	nav.layout-list
		if (users.length > 0)
			ul.nav.nav-stacked
				each user, i in users
					li
						if (user.private)
							span #{i+1}. (private profile) (#{user.points} points)
						else
							a(href='/users/'+user.username) #{i+1}. #{user.username} (#{user.points} points)
		else
			p No users listed yet
