extends ../layouts/wide

block content
	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			ul
				each error in errors
					li= error.type

	block auth
