extends auth

block auth
	form.signup.form-horizontal(action="/geekevents/signup", method="post")
		legend=title
		input(type='hidden', name='geekeventsId', value=user.geekeventsId)
		input(type='hidden', name='geekeventsTimestamp', value=user.geekeventsTimestamp)
		input(type='hidden', name='geekeventsToken', value=user.geekeventsToken)
		.control-group
			label.control-label(for='username') Username
			.controls
				input#username(type='text', name="username", placeholder='Username', value=user.username)

		.control-group
			label.control-label(for='name') Full name
			.controls
				input#name(type='text', name="name", placeholder='Full name', value=user.name)

		.control-group
			label.control-label(for'private') Private account
			.controls
				input#private(type='checkbox', name="private", value='true')
				span.help-inline Yes, I want my account to be private
				p.alert A private account means you cannot share your progress on social media, like facebook or twitter.

		.form-actions
			button.btn.btn-primary(type='submit') Sign up
			&nbsp;
			a.btn.show-login(href="/") Cancel
