extends ../layouts/wide

block content
	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			ul
				each error in errors
					li= error.type

	form.form-horizontal(method="post", action='/achievements/' + achievement.id)
		input(type="hidden", name="_method", value="DELETE")
		.form-actions
			button.btn.btn-primary(type='submit') Delete
			&nbsp;
			a.btn(href='/categories', title="cancel") Cancel