extends ../layouts/wide

block content
	- var action = '/achievements'
	if (!achievement.isNew)
		- action += '/'+achievement.id

	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			ul
				each error in errors
					li= error.type

	form.form-horizontal(method="post", action=action)
		if (!achievement.isNew)
			input(type="hidden", name="_method", value="PUT")

		.control-group
			label.control-label(for='title') Title
			.controls
				input#title(type='text', name="title", value=achievement.title, placeholder='Enter title')

		.control-group
			label.control-label(for='body') Description
			.controls
				textarea#description(name='body', placeholder='Enter body')=achievement.body

		.control-group
			label.control-label(for='image') Image
			.controls
				input#image(type='text', name='image', value=achievement.image, placeholder='Enter src for image')

		.control-group
			label.control-label(for='order') Order
			.controls
				input#order(name='order', type="number", value=achievement.order, placeholder='Enter order value')

		.control-group
			label.control-label(for='visible') Visible
			.controls
				input#visible(name='visible', type='checkbox', value='true', checked=achievement.visible)

		.form-actions
			button.btn.btn-primary(type='submit') Save changes
			&nbsp;
			a.btn(href='/achievements', title="cancel") Cancel