extends ../layouts/wide

block main
	h1 Achievements
	p
		a.btn.new(href='/achievements/new', title="Create new achievement") New achievement

block content
	table.table.table-striped
		thead
			tr
				th Image
				th Name
				th Order
				th Visible
				th Options
		tbody
			if achievements.length === 0
				tr
					td(colspan="3") No achievements
			each achievement in achievements
				tr.achievement
					td
						img(src='images/achievements/'+achievement.image)
					td
						a.title(href='/achievements/'+achievement._id, title=achievement.title) #{achievement.title}
					td=achievement.order
					th
						i(class=achievement.visible ? "icon-ok" : "icon-remove")
					td
						a.btn(href='/achievements/'+achievement._id+'/edit', title="Edit achievement") Edit
						&nbsp;
						a.btn(href='/achievements/'+achievement._id+'/delete', title="Delete achievement") Delete