extends ../layouts/default

block main
	.layout-content
		h1=achievement.title
		if (achievement.isVisible(req))
			!{achievement.body}
		else
			This achievement is not visible until you achieve it

block content
	if (req.isAdmin())
		h2 Requirement
		nav.options
			a.btn(href='/achievements/'+achievement._id+'/requirements/new') Add requirement
		if (achievement.requirements.length === 0)
			p No requirements
		table.table.table-striped
			thead
				tr
					th Requirement
					th Points
					th Assignments
					th Options
			tbody
				each requirement, i in achievement.requirements
					tr.requirement
						td=i
						td=requirement.points
						td
							ul.nav.nav-pills.options
								each assignment in requirement.assignments
									li.assignment
										a(href='/achievements/'+assignment)=assignmentMap[assignment].title
						td
							ul.options.nav.nav-pills
								li
									a.btn(href='/achievements/'+achievement._id+'/requirements/'+requirement._id+'/edit') Edit
								li
									a.btn(href='/achievements/'+achievement._id+'/requirements/'+requirement._id+'/delete') Delete
								li
									a.btn(href='/achievements/'+achievement._id+'/requirements/'+requirement._id+'/assignments/add') Add assignment

block aside
	.layout-aside
		if (achievement.isVisible(req))
			img(src='/images/achievements/'+achievement.image)
		else
			img(src='/images/achievements/happy_easter.png')
		if (req.isAuthenticated() && hasAchievement)
			.alert.alert-success You have this achievement!
		ul.nav.nav-stacked.nav-tabs
			if (req.isAuthenticated() && hasAchievement)
				li
					a(href='/users/'+user.username+'/achievements/'+achievement._id) See achievement at your profile
			li
				a(href='/achievements/'+achievement._id+'/stats') See stats for achievement