extends ../layouts/default

block main
	.layout-head.assignment
		h1=achievement.title
		if (achievement.isVisible(req))
			!{achievement.body}
		else
			This achievement is not visible until you achieve it
	.layout-content
		h2 Public users listed
	nav.layout-list
		include ../shared/list-user

block aside
	.layout-aside
		if (achievement.isVisible(req))
			img(src='/images/achievements/'+achievement.image)
		else
			img(src='/images/achievements/happy_easter.png')
		if (req.isAuthenticated() && hasAchievement)
			.alert.alert-success You have this achievement!
		ul.nav.nav-stacked.nav-tabs
			if (req.isAuthenticated() && hasAchievement)
				li
					a(href='/users/'+user.username+'/achievements/'+achievement._id) See achievement at your profile
			li
				a(href='/achievements/'+achievement._id) See achievement