extends ../layouts/wide

block content
	- var action = '/categories'
	if (!category.isNew)
		- action += '/'+category.id

	if (typeof errors !== 'undefined')
		.fade.in.alert.alert-block.alert-error
			a.close(data-dismiss="alert", href="javascript:void(0)") x
			ul
				each error in errors
					li= error.type

	form.form-horizontal(method="post", action=action)
		if (!category.isNew)
			input(type="hidden", name="_method", value="PUT")

		.control-group
			label.control-label(for='title') Title
			.controls
				input#title(type='text', name="title", value=category.title, placeholder='Enter title')

		.control-group
			label.control-label(for='shortTitle') Short title
			.controls
				input#shortTitle(type='text', name='shortTitle', value=category.shortTitle, placeholder='Enter short title')

		.control-group
			label.control-label(for='abbreviation') Abbreviation
			.controls
				input#abbreviation(type='text', name='abbreviation', value=category.abbreviation, placeholder='Enter abbreviation')

		.control-group
			label.control-label(for='description') Description
			.controls
				textarea#description(name='description', placeholder='Enter description')=category.description

		.control-group
			label.control-label(for='order') Order
			.controls
				input#order(name='order', type='number', value=category.order, placeholder='Enter order value')

		.form-actions
			button.btn.btn-primary(type='submit') Save changes
			&nbsp;
			a.btn(href='/categories', title="cancel") Cancel