extends ../layouts/wide

block main
	h1 Categories
	a.btn(href='/categories/new', title='New category') New category

block content
	if (categories.length === 0)
		p No categories are available
	table.table.table-striped
		thead
			tr
				th Name
				th Order
				th Options
		tbody
			each category in categories
				tr.category
					td
						a.title(href='/categories/'+category._id, title=category.title) #{category.title}
					td=category.order
					td
						a.btn(href='/categories/'+category._id+'/edit', title='Edit category') Edit
						&nbsp;
						a.btn(href='/categories/'+category._id+'/delete', title='Delete category') Delete
