extends ../layouts/wide

block main
	.layout-head.category(class=categoryClass)
		h1=category.title
		!{category.description}
	nav.layout-list(class=categoryClass)
		ul.category-assignments.nav.nav-stacked.nav-tags
			each assignment in assignments
				li.assignment
					a(href="/assignments/" + assignment._id)=assignment.title
					if (req.isAuthenticated() && req.user.hasAssignment(assignment))
						img.complete(src="/images/star.png")
					else if (req.isAuthenticated() && req.user.canDoAssignment(assignment))
						img.incomplete(src="/images/star.png")
