extends layouts/wide

block main
    h1 Oops something went wrong
    br
    span 404

block content
    #error-message-box
        #error-stack-trace
            pre Noe gikk feil...
                //code!= error

