!!! 5
html(lang='en',
	xmlns='http://www.w3.org/1999/xhtml',
	xmlns:fb='https://www.facebook.com/2008/fbml'
)
	include ../includes/head
	body
		.wrapper
			include ../includes/header
			.layout-header.main
				.layout-body.main
					block main
				block aside
					.layout-aside
						if (req.isAuthenticated())
							.block
								h2 Your stats
								p Points: #{req.user.points}
								#UserSpider
								script $(function () { spider("#UserSpider", "/json/spider/#{req.user.username}"); });
								p
									a(href="/progress-graph") What is this?
							nav.layout-list
								ul.nav.nav-tags.nav-stacked
									if (!req.user.private)
										li
											a(href='/users/'+req.user.username) Show public profile
									li
										a(href='/profile') Go to profile
									li
										a(href='/logout') Log out
						else
							.block
								h2 Not logged in
								p You need to log in to participate in the contest
								a.btn.btn-primary(href="/login") Log in here
			block content
			.push
			include ../includes/footer
			include ../includes/foot
