!!! 5
html(lang='en',
xmlns='http://www.w3.org/1999/xhtml',
xmlns:fb='https://www.facebook.com/2008/fbml'
)
	include ../includes/head
	body
		.wrapper
			include ../includes/header
			.wide-header
				block main
			.wide-content
				block content
			.push
			include ../includes/footer
			include ../includes/foot
